#root {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 2.5rem;
  text-align: center;
  background-color: #fafafa;
}

.App {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 1rem;
  background-color: #fafafa;
}

.sidebar {
  
  display: flex;
  flex-direction: column;
  width: 150px;
  padding: 20px;
  /* border-radius: 10px; */
  background-color: #f4f4f4;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow-y: auto;
}

.sidebar h1 {
  font-size: 2.5rem;
  color: #c4a484;
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
}

.sidebar h3 {
  font-size: 1.2rem;
  color: #333;
  margin: 1rem 0;
  cursor: pointer;
  transition: color 0.3s ease;
}

.sidebar h3:hover {
  color: #c4a484bc;
}


.main {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #fafafa;
  border-radius: 10px;
  margin-left: 150px;
  /*box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);*/
}

.statDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1rem;
  margin-bottom: 2rem;
}

.statDiv .totalStat,
.statDiv .dogStat,
.statDiv .catStat,
.statDiv .birdStat,
.statDiv .rabbitStat,
.statDiv .otherStat {
  background-color: #c4a484bc;
  color: #fff;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
  flex: 1;
}

.statDiv p {
  margin: 0;
}

.statDiv strong {
  font-size: 1.2rem;
}

.filterDiv {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
}

.filterDiv input:focus,
.filterDiv select:focus {
  border-color: #c4a484bc;
  outline: none;
}




.Page {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
}

.Page table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
  border-radius: 10px;
  overflow: hidden;

}

.Page th, .Page td {
  padding: 1rem;
  text-align: left;
  /* border: 1px solid #ddd; */
  border: none;
}

.Page th {
  background-color: #c4a484bc;
  color: white;
}

.Page td {
  background-color: #fafafa;
}

.Page tr:nth-child(even) td {
  background-color: #f1f1f1;
}

.Page tr:hover {
  background-color: #f2f2f2;
}

.pageNavDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}


/* Responsive Design */
@media (max-width: 768px) {
  .App {
    flex-direction: column;
    gap: 0;
  }

  .sidebar {
    width: 100%;
    margin-bottom: 2rem;
  }

  .statDiv {
    flex-direction: column;
  }

  .filterDiv {
    flex-direction: column;
  }

  .pageNavDiv {
    flex-direction: column;
  }
}